.contact-form1{
    display: grid;
    grid-template-columns: 30% 30%;
  
  }
  
  .colum-name{
    grid-column: 1;
  }
  
  .colum-email{
    grid-column: 2;
  }
  
  .colum-message{
    grid-column: 1/3;
  }